*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
}

canvas {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h5 {
    color: #0aff0a;
    z-index: 999;
    font-size: 16px;
    line-height: 30px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

h5 a {
    text-decoration: none;
    color: #0aff0a;
    transition: all 200ms ease-in-out;
}

h5 a:hover {
    color: #78f778;
    border-bottom: 2px solid #78f778;
}